<div class="startSection">
    <div class="container h-100 d-flex align-items-center flex-column" >
        <div class="row mt-md-5">
            <div class="col-md-12">
                <h1 class="text-white">Order food online in Tunisia</h1>
            </div>
        </div>
        <div class="row input-group selectGroup p-2 mt-md-5">
            <div class="col-md-3 px-0 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-white" for="Countryselect" style="height: 50px">
                        <i class="fa fa-map-marker fa-2x text-primary" aria-hidden="true"></i>
                    </label>
                </div>    
                <select class="custom-select" id="Countryselect" style="height: 50px">
                    <option selected>choose one</option>
                    <option>opt1</option>
                    <option>opt2</option>
                </select>
            </div>
            <div class="col-md-3 px-0 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-white" for="CitySelect" style="height: 50px">
                        <i class="fa fa-map-marker fa-2x text-primary" aria-hidden="true">
                            
                        </i></label>
                </div> 
                <select class="custom-select" id="CitySelect" style="height: 50px">
                    <option selected>choose one</option>
                    <option>opt1</option>
                    <option>opt2</option>
                </select>
            </div>
            <div class="col-md-3 px-0 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-white" for="RegionSelect" style="height: 50px">
                        <i class="fa fa-map-marker fa-2x text-primary" aria-hidden="true"></i>
                    </label>
                </div> 
                <select class="custom-select" id="RegionSelect" style="height: 50px">
                    <option selected>choose one</option>
                    <option>opt1</option>
                    <option>opt2</option>
                </select>
            </div>
            <div class="col-md-3 px-0 input-group">
                <button type="button" class="btn btn-success btn-block pb-2" >
                    FIND RESTAURANTS
                </button>
            </div>
        </div>
        <div class="row mt-auto">
                <div class="col-md-12 mt-auto">
                    <img src="../assets/payment-icons-UAE1.svg" width="100%" height="100px">
                </div>
        </div>
    </div> 
</div>
<div class="container my-3">
    <div class="row hidden-xs d-flex justify-content-center">
        <div class="mx-5">
            <img src="../assets/icon_rest_new.svg" alt="find restaurant" width="40" height="40">
            <span class="ml-3 processText">Find a restaurant</span>
        </div>
        <div class="mx-5" >
            <img src="../assets/icon_meal_new.svg" alt="Choose your meal" width="40" height="40"> 
            <span class="ml-3 processText">Order your meal </span>
        </div>
        <div class="mx-2">
            <img src="../assets/icon_smiley_new.svg" alt="Enjoy food" width="40" height="40">
            <span class="ml-3 processText">Enjoy your food</span>
        </div>
    </div>
</div>
<div class="presentation pt-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 textSize">
                <h5 class="text-center">Who we are</h5>
                <p class="text-justify"><small>Talabat is a pioneer of the online food ordering industry in the Middle East. Housing a wide variety of cuisines from international and local restaurants, Talabat is the go-to destination for food. No matter what cuisine or restaurant you are craving, find it on Talabat in Bahrain, Kuwait, KSA, Qatar, UAE, Oman and Jordan.</small></p>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">What we do</h5>
                <p class="text-justify"><small>We make ordering food fast and easy. Customer convenience is our top priority and our operations run 24/7 to ensure your experience is both convenient and hassle-free. Browse easily through our enormous inventory of restaurant menus on the web or on the app, and order with just a few clicks or taps.</small></p>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Start your experience</h5>
                <p class="text-justify"><small>Choose your preferred cuisine, confirm your meal with a click, pay instantly and get your favorite dish hot and fresh in no time, delivered right to your doorstep. You can pay securely online using your debit/ credit card or with cash on delivery. Enjoy your delicious, mouth-watering meal on time, every-time!</small></p>
            </div>
        </div>
    </div>         
</div>
