<div class="card">
  <div class="card-header bg-primary text-white">Your Cart</div>
  <div class="card-body p-0">
    <h5 class="p-2">From Resto</h5>
    <div  class="bg-light">
        <hr>
        <div class="row d-flex align-items-top small">
          <div class="col-sm-4">
            <div class="input-group pl-2">
              <div class="input-group-prepend">
                <button class="btn btn-success btn-sm py-0" type="button"><i class="fa fa-plus"></i></button>
              </div>
              <input type="text" class="form-control"  style="height: 23px; max-width: 20px;" readonly>
              <div class="input-group-append">
                <button class="btn btn-success btn-sm py-0" type="button"><i class="fa fa-minus"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-5 p-0">
          <strong>Spicy Chicken Big Stack Sandwich</strong>
              
          </div>
          <div class="col-sm-3 d-flex">
            <span class="pr-1">16.00</span>
            <span>
            <button class="btn btn-danger btn-sm btn-circle pull-right p-0" type="button" style="width:20px; height: 20px"><i class="fa fa-minus"></i></button>
            </span>
          </div>
        </div>
        
        <hr>
    </div>
    <div class="row mt-3 d-flex justify-content-between p-2">
        <div class="col-md-6">
            <small> <strong>Subtotal</strong></small>
        </div>
        <div class="col-md-6">
          <span class="pull-right text-muted"><small> <strong>TND 75.00</strong></small></span>
        </div>
        <div class="col-md-6">
            <small> <strong>Service Charge</strong></small>
        </div>
        <div class="col-md-6">
          <span class="pull-right text-muted"><small> <strong>TND 12.00</strong></small></span>
        </div>
        <div class="col-md-6 mt-2">
            <strong>Total</strong>
        </div>
        <div class="col-md-6">
          <span class="pull-right mt-2">TND 75.00</span>
        </div>
    </div>
      <div class="row my-3 mx-2">
         <div class="col-md-12">
           <button class="btn btn-success btn-block" type="button">Proceed to checkout</button>
         </div>
      </div>
  </div>
</div>
