<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list-inline d-flex justify-content-between px-5 w-100">
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>About Us</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Blog</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Feedback</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Careers</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Terms</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>FAQ</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Privacy</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Contact Us</small></a></li>
                    <li class="list-inline-item"><a href="#" class="btn text-muted"><small>Sitemap</small></a></li>
                </ul>
                <hr class="w-100">
            </div>
        </div>   
        <div class="row w-100 small">
            <div class="col-sm-2 text-white">
                <ul class="list-unstyled">
                    <li class="text-muted mb-2">Restaurants</li>
                    <li><a>resto1</a></li>
                    <li><a>resto2</a></li>
                    <li><a>resto3</a></li>
                    <li><a>resto4</a></li>
                    <li class="text-muted mt-3"> More Restaurants...</li>
                </ul>
            </div>
            <div class="col-sm-2 text-white">
                <ul class="list-unstyled">
                    <li class="text-muted mb-2">Restaurants</li>
                    <li><a>resto1</a></li>
                    <li><a>resto2</a></li>
                    <li><a>resto3</a></li>
                    <li><a>resto4</a></li>
                    <li class="text-muted mt-3"> More Restaurants...</li>
                </ul>
            </div>
            <div class="col-sm-2 text-white">
                <ul class="list-unstyled">
                    <li class="text-muted mb-2">Restaurants</li>
                    <li><a>resto1</a></li>
                    <li><a>resto2</a></li>
                    <li><a>resto3</a></li>
                    <li><a>resto4</a></li>
                    <li class="text-muted mt-3"> More Restaurants...</li>
                </ul>
            </div>
            <div class="col-md-3 offset-md-3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            follow us on twitter
                            <ul class="list-unstyled list-inline mt-3 d-flex justify-content-between">
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x text-white"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x text-white"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x text-white"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus fa-2x text-white"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin fa-2x text-white"></i></a></li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="w-100">
        <div class="row w-100 mb-4">
            <div class="col-sm-9">
                <span class="text-muted small">For any support or help you can contact us via our Live Chat or our Hotline Number 800117117</span>

            </div>
            <div class="col-sm-3">
                <span class="small"> ©2019 Talabat.com</span>
            </div>
        </div>
        
    </div>
</footer>