<div class="px-md-3 py-md-2">
  <div class="container card pb-2">
    <div class="row">
      <div class="col-sm-12">
          <div aria-label="breadcrumb">
              <ol class="breadcrumb arr-right bg-white mb-0 p-1">
                <li class="breadcrumb-item"><a [routerLink]="['/']"><small>Home</small></a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#"><small>City1</small></a></li>
              </ol>
        </div>
      </div>
    </div>
      <div class="row align-items-end">
          <div class="col-md-3">
            <h5>Restaurants in City1</h5>
          </div>
          <div class="col-md-2">
              <a class="btn" href="#"><small class="text-success text-uppercase">change area</small></a>
          </div>
      </div>
      <div class="row">
        <!-- create sticky div for filter and search -->
        <div class="w-100">
            <div class="sticky-top col-md-3 mt-3 px-3 float-left d-none d-md-block">
                <div class="form-group has-search mt-2">
                  <span class="fa fa-search form-control-feedback"></span>
                  <input type="text" class="form-control" placeholder="find Restaurants">
                </div>
                <div class="filterArea">
                  <p>Filter By</p>
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>     
                    </div>
      
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>
                    </div>
                    
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>
                    </div>
      
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>
                    </div>
      
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>
                    </div>
      
                    <div class="row text-muted small">
                        <div class="col-md-8">
                            <span class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="restCheck1">
                              <label class="custom-control-label" for="restCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                        <div class="col-md-4">
                            <span class="badge badge-secondary float-right">22</span>
                        </div>
                    </div>
      
                  <hr class="w-100">
      
                  <p>Speciality</p>
                  <div class="row">
                   <div class="col text-muted small">
                      <span class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="radioCheck1">
                          <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                        </span>
                   </div>
                  </div>
                  <div class="row">
                      <div class="col text-muted small">
                          <span class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="radioCheck1">
                              <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                            </span>
                       </div>
                    </div>
      
                    <div class="row">
                      <div class="col text-muted small">
                          <span class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="radioCheck1">
                              <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                    </div>
      
                    <div class="row">
                      <div class="col text-muted small">
                          <span class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="radioCheck1">
                              <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                    </div>
      
                    <div class="row">
                      <div class="col text-muted small">
                          <span class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="radioCheck1">
                              <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                    </div>
      
                    <div class="row">
                      <div class="col text-muted small">
                          <span class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" id="radioCheck1">
                              <label class="custom-control-label" for="radioCheck1"><strong>rest1</strong></label>
                            </span>
                        </div>
                    </div>
                      <div class="row">
                          <div class="col">
                             <a class="btn text-success small text-uppercase"><small>show all</small></a>
                            </div>
                        </div>
                      <!-- end of radio inputs -->
                </div>
              </div>
              <div class="col-md-9 float-right">
                  <hr class="d-none d-md-block">
                  <div class="row d-none d-md-block">
                    <div class="col d-flex justify-content-start">
                      <div><strong>Sort by: </strong></div>
                      <div class="col d-flex justify-content-between text-muted small mt-1">
                          <div><a ><span>Recommended</span></a> </div>
                          <div><a ><span>Ratings</span></a> </div>
                          <div><a ><span>Newest</span></a> </div>
                          <div><a ><span>A to Z</span></a> </div>
                          <div><a ><span>Min. Order Amount</span></a> </div>
                          <div><a ><span>Fastest Delivery</span></a> </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card cardList">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-2">
                                  <img src="../../assets/rest1.jpg" alt="rest1" class="img-thumbnail" width=100px; height=100px;>
                              </div>
                              <div class="col-md-10">
                                  <h5 class="card-title">resto 1</h5>
                                  <p class="text-muted small mb-0" >spec1,spec2,spec3</p>
                                  <rating [(ngModel)]="rate" [max]="5" [readonly]="true" class="rating"></rating>
                                  <span class="text-muted ml-2" style="position:relative; bottom: 3px;"><small>(511 ratings)</small></span>
                                  <p class="text-muted small mb-0" >Avg:30min</p>
                                  <span class="btn float-right text-success"><small><strong>VIEW MENU</strong></small><i class="ml-1 fa fa-angle-right"></i></span>
                                </div>
                            </div>     
                        </div>
                      </div>
        
                      <div class="card cardList">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-2">
                                  <img src="../../assets/rest1.jpg" alt="rest1" class="img-thumbnail" width=100px; height=100px;>
                              </div>
                              <div class="col-md-10">
                                  <h5 class="card-title">resto 1</h5>
                                  <p class="text-muted small mb-0" >spec1,spec2,spec3</p>
                                  <rating [(ngModel)]="rate" [max]="5" [readonly]="true" class="rating"></rating>
                                  <span class="text-muted ml-2" style="position:relative; bottom: 3px;"><small>(511 ratings)</small></span>
                                  <p class="text-muted small mb-0" >Avg:30min</p>
                                  <span class="btn float-right text-success"><small><strong>VIEW MENU</strong></small><i class="ml-1 fa fa-angle-right"></i></span>
                                </div>
                            </div>     
                        </div>
                      </div>
        
                      <div class="card cardList">
                          <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                    <img src="../../assets/rest1.jpg" alt="rest1" class="img-thumbnail" width=100px; height=100px;>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="card-title">resto 1</h5>
                                    <p class="text-muted small mb-0" >spec1,spec2,spec3</p>
                                    <rating [(ngModel)]="rate" [max]="5" [readonly]="true" class="rating"></rating>
                                    <span class="text-muted ml-2" style="position:relative; bottom: 3px;"><small>(511 ratings)</small></span>
                                    <p class="text-muted small mb-0" >Avg:30min</p>
                                    <span class="btn float-right text-success"><small><strong>VIEW MENU</strong></small><i class="ml-1 fa fa-angle-right"></i></span>
                                  </div>
                              </div>     
                          </div>
                      </div>
        
                      <div class="card cardList">
                        <div class="card-body">
                            <div class="row">
                              <div class="col-md-2">
                                  <img src="../../assets/rest1.jpg" alt="rest1" class="img-thumbnail" width=100px; height=100px;>
                              </div>
                              <div class="col-md-10">
                                  <h5 class="card-title">resto 1</h5>
                                  <p class="text-muted small mb-0" >spec1,spec2,spec3</p>
                                  <rating [(ngModel)]="rate" [max]="5" [readonly]="true" class="rating"></rating>
                                  <span class="text-muted ml-2" style="position:relative; bottom: 3px;"><small>(511 ratings)</small></span>
                                  <p class="text-muted small mb-0" >Avg:30min</p>
                                  <span class="btn float-right text-success"><small><strong>VIEW MENU</strong></small><i class="ml-1 fa fa-angle-right"></i></span>
                                </div>
                            </div>     
                        </div>
                      </div>
        
                      <div class="card cardList">
                          <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                    <img src="../../assets/rest1.jpg" alt="rest1" class="img-thumbnail" width=100px; height=100px;>
                                </div>
                                <div class="col-md-10">
                                    <h5 class="card-title">resto 1</h5>
                                    <p class="text-muted small mb-0" >spec1,spec2,spec3</p>
                                    <rating [(ngModel)]="rate" [max]="5" [readonly]="true" class="rating"></rating>
                                    <span class="text-muted ml-2" style="position:relative; bottom: 3px;"><small>(511 ratings)</small></span>
                                    <p class="text-muted small mb-0" >Avg:30min</p>
                                    <span class="btn float-right text-success"><small><strong>VIEW MENU</strong></small><i class="ml-1 fa fa-angle-right"></i></span>
                                  </div>
                              </div>     
                          </div>
                      </div>
                    </div>
                  </div>
        
                </div>
      
        </div>
        

      </div>
      <!-- end of card container -->
    </div>
</div>